

  <h1>Medium</h1>

  <ul class="articles">
    <% @articles.each do |article| %>
      <li>
        <h3 class="article-title">
          <%= link_to article.title, article_path(article) %>
        </h3>
        <p>
          <%= article.body %>
        </p>
      </li>
    <% end %>
  </ul>

  <div class="create-btn">
    <button>
      <%= link_to "Create a New Article", new_article_path %>
    </button>
  </div>
</div>
